<h1>CONTACTS WHOOOOOOO!!!!</h1>

<h2><%= @contact_1.first_name %></h2>
<h2><%= @contact_1.last_name %></h2>
<h2><%= @contact_1.email %></h2>
<h2><%= @contact_1.phone_number %></h2>

<h2><%= @contact_2.first_name %></h2>
<h2><%= @contact_2.last_name %></h2>
<h2><%= @contact_2.email %></h2>
<h2><%= @contact_2.phone_number %></h2>

<h2><%= @contact.first_name %></h2>
<h2><%= @contact.last_name %></h2>
<h2><%= @contact.email %></h2>
<h2><%= @contact.phone_number %></h2>